# Required zip artifacts (update <version> each release)
CHROME_ZIP=.output/dumpchat-wxt-<version>-chrome.zip
FIREFOX_ZIP=.output/dumpchat-wxt-<version>-firefox.zip
FIREFOX_SOURCES_ZIP=.output/dumpchat-wxt-<version>-sources.zip

# Chrome Web Store API credentials
CHROME_EXTENSION_ID=
CHROME_CLIENT_ID=
CHROME_CLIENT_SECRET=
CHROME_REFRESH_TOKEN=
CHROME_PUBLISH_TARGET=default

# Firefox Add-ons (AMO) API credentials
FIREFOX_EXTENSION_ID=
FIREFOX_JWT_ISSUER=
FIREFOX_JWT_SECRET=
FIREFOX_CHANNEL=listed
